#include "../../../../config/Common.xcconfig"

CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/App/Support/Sources/TopeeRunner.entitlements
INFOPLIST_FILE = $(SRCROOT)/App/Support/Sources/Info.plist
FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../../Carthage/Build/Mac/
PRODUCT_BUNDLE_IDENTIFIER = com.github.topee.TopeeRunner
PRODUCT_MODULE_NAME = TopeeRunner
PRODUCT_NAME = TopeeRunner
